/*SLOGAN ET CONNEXION*/

body {
	padding-top: 0px !important;
}
#logoslogan{
position: relative;
height: 100%;
}

.logo{
position: relative;
padding-top: 15px;
}
.slogan{
position: relative;
padding-top: 25px;

}
#slogan img{
	display: inline;
	float: left;
	vertical-align:middle;
	margin-left: 5%;
}
.social li{
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: left;
	margin-right: 1%;
}
#slogan p{
	font-size: 1.2em;
	color: #45718a;
}
.form-control {
	padding: 6px !important;
}
.tnav .navbar { 
	background:#45718a ; 
 
	border: 0px;
}
.tnav .navbar a{ 
	color: white;
}
.navbar-brand span{
	margin-right: 10px;
}
.navbar-header{
float: left;
margin-left: 5%;
}
.navbar-inverse .navbar-nav li a{
	color: white;
}	
.glyphicon{
	line-height: 0.5px !important;
}
/**/
p.reussite{
	color: ;
	background-color: ;
}