/*SLOGAN ET CONNEXION*/

body {
	padding-top: 0px !important;
}
#logoslogan{
position: relative;
height: 100%;
}

.logo{
position: relative;
padding-top: 15px;
}
.slogan{
position: relative;
padding-top: 35px;

}
#slogan img{
	display: inline;
	vertical-align:middle;
}
.social li{
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: left;
	margin-right: 1%;
}
#slogan p{
	font-size: 1.2em;
	color: #45718a;
}
.form-control {
	padding: 6px !important;
}
.tnav .navbar { 
	background:#45718a ; 
 
	border: 0px;
}
.tnav .navbar a{ 
	color: white;
}

.navbar-brand span{
	margin-right: 10px;
}
.navbar-header{
float: left;
margin-left: 5%;
}
.navbar-inverse .navbar-nav li a{
	color: white;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a{
	color:black!important;
}	
.glyphicon{
	line-height: 0.5px !important;
}
/**/
p.reussite{
	color: ;
	background-color: ;
}

footer{
	bottom: 0;
	width: 100%;
}
.carousel-inner img{
	width: 100%
}
.social {
    margin-left: 30px;
    margin-top: 10px;

}
.monipssi {
    margin-right: 50px;
    margin-top: 10px;
}